<div class="container mt-lg-5">
  <div class="row">
    <form
      class="form"
      [formGroup]="form"
      (ngSubmit)="generateAwb()"
    >

      <div class="form-row">
        <div class="col-3">
          <input type="text" class="form-control-plaintext" placeholder="" value="AWB-Nr eingeben">
        </div>
        <div class="col-6">
          <input
            formControlName="awbNr"
            type="text"
            class="form-control"
            id="awb_nr"
            placeholder=""
          >
          <span
            class="helper-text red-text ml-4"
            *ngIf="form.get('awbNr').invalid && form.get('awbNr').touched"
          >
          <span *ngIf="form.get('awbNr').errors['required']">Awb-Nummer Feld sollte nicht leer sein </span>
        </span>
        </div>
      </div>


      <div class="form-row mt-3">
        <div class="col-3">
          <input type="text" class="form-control-plaintext" placeholder="" value="Dimensionen (cm)">
        </div>
        <div class="col-2">
          <input
            formControlName="length"
            type="text"
            class="form-control"
            placeholder="Länge">
        </div>
        <div class="col-2">
          <input
            formControlName="width"
            type="text"
            class="form-control"
            placeholder="Breite">
        </div>
        <div class="col-2">
          <input
            formControlName="height"
            type="text"
            class="form-control"
            placeholder="Höhe">
        </div>
      </div>


      <div class="form-row mt-3">
        <div class="col-3">
          <input type="text" class="form-control-plaintext" placeholder="" value="Produkt">
        </div>
        <div class="col-6">
          <ng-select [searchable]="false" formControlName="product">
            <ng-option [value]="100">General</ng-option>
            <ng-option [value]="300">Express</ng-option>
            <ng-option [value]="420">Specialized - Live</ng-option>
            <ng-option [value]="410">Specialized - Safe1</ng-option>
            <ng-option [value]="411">Specialized - Safe2</ng-option>
            <ng-option [value]="430">Specialized - Safe3</ng-option>
            <ng-option [value]="450">Specialized - Fresh</ng-option>
            <ng-option [value]="460">Specialized - Pharma</ng-option>
            <ng-option [value]="470">Specialized - DGR</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="form-row mt-5">
        <div class="col-12">
          <button
        type="submit"
        class="btn btn-primary btn-lg"
        [disabled]="form.invalid || form.disabled"
      >
        Generiere E-AWB
      </button></div>
      </div>
    </form>

    <div class="row mt-lg-5" *ngIf="generatedAwbData">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">E-AWB</h5>
          <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
          <p class="card-text line-breaker">
            {{generatedAwbData}}
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
